@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

$default-font-size: 18px;
$dark-color: #414141;
$light-color: #ffffff;
$opacity-value: 0.75;
$font-family-concert: "Concert One", sans-serif;
$light-border: 1px solid #41414147;
$animation-time: 0.7s;
$modal-z-index: 999;
